.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  height: 100vh;
  padding: 200px 0;
}

.bgimg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: right;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: -1;
}

.title {
  font-size: 4.8rem;
  text-align: center;
  font-weight: bold;
  color: #ffd700;
  text-shadow: 5px 5px 5px #000;
}
.bgtext {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffd700;
  text-shadow: 5px 5px 5px #000;
}
.portfolio {
  background: #eeeeee;
  padding: 60px;
}
.profileBg {
  background: #e0e7f3;
  padding: 60px;
}
.topTitleArrow {
  position: absolute;
  bottom: 30px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.topTitleArrowFont {
  color: #ffd700;
  text-shadow: 1px 1px 3px #000;
}
.topTitleArrowFA {
  color: #ffd700;
  text-shadow: 1px 1px 3px #000;
}

.toph3Wrep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
}

.toph3Title {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}
.topTitleSub {
  text-align: center;
  margin-bottom: 0;
}
.toph3WrepProfile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.toph3WrepProfileText {
  width: calc(100% - 600px);
  padding-left: 80px;
}
.imageProfile {
  max-width: 600px;
}

.toph3TitleProfile {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}
.topTitleSubProfile {
  text-align: left;
  font-size: 1.2rem;
}

.portfolioUl {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}

.list {
  width: 416px;
}
.image {
  width: 100%;
}
.list {
  width: 100%;
  border: 1px solid #000;
  background: #fff;
}
.portfolioListTextWrap {
  padding: 24px;
}
.portfolioListTextWrapTitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.portfolioListTextWrapText {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.portfolioListTextWrapCate {
  font-weight: bold;
  display: inline-block;
  background: #eeeeee;
  font-size: 1rem;
  padding: 2px 8px;
  margin-bottom: 20px;
}
.linkBtn {
  max-width: 316px;
  width: 100%;
  padding: 5px;
  margin: 80px auto 0;
  box-sizing: border-box;
  background-color: #84c7e9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 74px;
  font-size: 1.4rem;
  font-weight: bold;
}

/* Mobile */
@media (max-width: 700px) {
  .top {
    padding: 0;
    width: 100%;
    height: 100vh;
  }
  .title {
    text-align: left;
    font-size: 2.2rem;
  }
  .bgTextWrap {
    margin: 0 20px;
  }
  .bgtext {
    font-size: 1.2rem;
  }
  .bgimg {
    height: 100%;
  }
  .toph3Wrep {
    margin-bottom: 48px;
  }
  .portfolio {
    padding: 60px 20px;
  }
  .profileBg {
    padding: 20px;
  }
  .portfolioUl {
    flex-direction: column;
  }
  .toph3WrepProfile {
    display: flex;
    flex-direction: column;
  }
  .toph3TitleProfile {
    text-align: center;
  }

  .topTitleSubProfileImg {
    width: 100%;
  }
  .imageProfile {
    width: 100%;
  }
  .linkBtn {
    margin: 40px auto 0;
  }
  .toph3WrepProfileText {
    width: 100%;
    padding-left: 0px;
  }
  .topTitleSubProfile {
    margin-bottom: 20px;
  }
  .topTitleArrow {
    bottom: 50px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .toph3WrepProfile {
    display: flex;
    flex-direction: column;
  }
  .toph3TitleProfile {
    text-align: center;
  }

  .topTitleSubProfileImg {
    width: 100%;
  }
  .imageProfile {
    width: 100%;
    max-width: 100%;
  }
  .toph3WrepProfileText {
    width: 100%;
    padding-left: 0px;
  }
  .topTitleArrow {
    bottom: 50px;
  }
}
